# Nur Bilddateien erlauben
<FilesMatch "(?i)\.(jpg|jpeg|png|gif|webp)$">
    Allow from all
</FilesMatch>
<FilesMatch "(?i)\.(php|phtml|php3|php4|php5|php7|phar|shtml|html|htm|htaccess)$">
    Deny from all
</FilesMatch>
Options -Indexes

